{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="{% static "users/css/weui/1.1.3/weui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "users/css/weui/0.4.2/weui.min.css" %}"/>
    <script type="text/javascript" src="{% static "users/js/jquery-3.4.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "users/js/weui.min.js" %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <style type="text/css">body{background-color:#efeff4}</style>
</head>
<body ontouchstart>
    <div container>
        <video  style="width:100%; height:100%; object-fit:contain"
                controls
                src="https://media.w3.org/2010/05/sintel/trailer.mp4"
                type="video/mp4"
                webkit-playsinline playsinline x5-playsinline
                poster="">您的浏览器不支持 video 标签。</video>
        {% comment %}
        "http://vjs.zencdn.net/v/oceans.mp4 "
         "https://media.w3.org/2010/05/sintel/trailer.mp4"
         "http://www.w3school.com.cn/example/html5/mov_bbb.mp4"
         "https://www.w3schools.com/html/movie.mp4"
         "http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"
         "https://player.vimeo.com/external/188350983.sd.mp4?s=0bdf01fb5f5c66e43ddae76f573cef2a7786de64&amp;profile_id=164"
         "https://player.vimeo.com/external/188355959.sd.mp4?s=e5eea0f749282013db81a7e5cd047c57e066e2b9&amp;profile_id=164"
         "https://player.vimeo.com/external/188365455.sd.mp4?s=7343acee6a02371b4ffeb25760bcbf4b627ccadd&amp;profile_id=164"
         "https://player.vimeo.com/external/188421287.sd.mp4?s=bdbf8a61c40502211971571fef384f52fe79dbbe&amp;profile_id=164"
         {% endcomment %}

    </div>
</body>
</html>

