{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>

    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="{% static "courses/css/chimee-mobile-player.browser.css" %}"/>
    <link rel="stylesheet" href="{% static "users/css/weui/1.1.3/weui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "users/css/weui/0.4.2/weui.min.css" %}"/>
    {#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chimee/0.11.0/index.browser.js"></script>#}
    <script type="text/javascript" src="{% static "courses/js/chimee-mobile-player.browser.js" %}"></script>
    <script type="text/javascript" src="{% static "users/js/jquery-3.4.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "users/js/weui.min.js" %}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <style type="text/css">body {
        background-color: #efeff4
    }</style>
</head>
<body ontouchstart>
<div container>
    <div id="wrapper">
        <video id="video"
               style="width:100%; height:100%; object-fit:contain"
               controls
               preload="auto"
               src="https://media.w3.org/2010/05/sintel/trailer.mp4"
               type="video/mp4"
               webkit-playsinline playsinline x5-playsinline>您的浏览器不支持 video 标签。
        </video>
    </div>
    <div class="weui-tab">
        <!--课程视频播放标题头-->
        <div class="weui-navbar">
            <div class="weui-navbar__item">
                课程视频列表
            </div>
        </div>
        <!--课程视频播放列表-->
        <div class="weui-cells weui-tab__panel " style="margin-top:0">

        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var video = document.getElementById("video");
    var last = 0;
    //当目前的播放位置已更改时
    video.ontimeupdate = function () {
        var current = video.currentTime;
        if (current - last > 2) {
            video.currentTime = last;
        } else {
            last = current;
        }
    };
</script>
</html>
