<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.4.2/weui.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <style type="text/css">body{background-color:#efeff4}</style>
</head>
<body ontouchstart>
<div id="container">
    <div class="register">
        <form id="registerForm">
            <div class="weui_cells_title">学生登录</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">学号</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input type="number" name="tel" class="weui_input" required="" pattern="[\d]{10}"
                               notmatchtips="请输入正确的学号" placeholder="请输入学号">
                    </div>
                    <div class="weui_cell_ft">
                        <i class="weui_icon_warn"></i>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label for="" class="weui_label">密码</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input type="password" name="password" class="weui_input" required="" pattern="[\w]{6,}"
                               notmatchtips="密码至少6位" placeholder="请输入密码">
                    </div>
                    <div class="weui_cell_ft">
                        <i class="weui_icon_warn"></i>
                    </div>
                </div>
            </div>
            <p class="weui_cells_tips">登陆成功后下次会自动登录</p>
            <div class="weui_btn_area">
                <a href="javascript:;" class="weui_btn weui_btn_primary js_btn">登录
                </a>
            </div>

        </form>
    </div>
</div>
<div class="weui-footer weui-footer_fixed-bottom">

            <p class="weui-footer__links">
                <a href="http://www.gdut.edu.cn/" class="weui-footer__link">学校官网</a>
                <a href="https://github.com/Ngwind" class="weui-footer__link">意见反馈</a>
            </p>
            <p class="weui-footer__text">Copyright © 2018-2019 gdutwuwenda.cn</p>
            <p class="weui-footer__text">粤ICP备19024741号-1</p>
        </div>
</body>
</html>